<h1>About StoryBooks</h1>
<p>This is a platform for all those who love to write absolutely anything!</p>
<p>Whether you want to unleash the auther in you to share with the world, or just for yourself (like a diary). Write away!</p>
<br>
<br>
<p>Developer: Ameya Raje</p>